.header-wrapper{
  height:6rem;
  background-color: #303235;
  color: white;
}
.header-wrapper ul{
  margin: 0;
  padding: 0;
  width: 60%;
  margin: auto;
}
 .header-wrapper ul li{
   float: left;
   display: inline-block;
   font-size: 2rem;
   padding: 0 2rem;
   line-height: 6rem;
   font-weight: 200;
   width: 20%;
   padding: 0;
   cursor: pointer;
   /*padding: 0 1rem;*/
 }
 .header-wrapper ul li:hover{
  background-color: #4d4e4f;
 }
