
html{
  font-size: 70%;
}
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color: #d8e9f4;*/
  background: url('https://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330551/185c99304364bba58fe8bfe3765fcf64-700.jpg');
  background-attachment: fixed;
  color: #d2cfcf;
  font-family: 'Cantarell', sans-serif;

}
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.vertically-center {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
